@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #002228;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}

@layer components {
  .appBtn {
    @apply rounded-full py-1.5 2xl:py-2.5 px-4 2xl:px-6 text-textBlack font-medium bg-bgSky border border-bgSky;
  }
  .appOutlineBtn {
    @apply rounded-full py-1.5 2xl:py-2 px-4 2xl:px-6 bg-transparent font-medium text-white border border-white;
  }
}

.hover-animation::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #0ff1f6;
  transition: width 0.3s;
}

.hover-animation:hover::after {
  width: 100%;
  transition: width 0.3s;
}
